{% extends 'base.html' %}
{% block content %} 
    <div class="container">
        <a>
            Amanj knows the geometry of {{project.project}} project is ****{{project.geometry_nodes}}****
            <br>
            Divisions added here:
            {% for div in division %}
            <br>
            {{div.division}}
            {% endfor %}
        </a>
    </div>
    <br>
    <div class="container-fluid">
        <h6> Project Name:</h6> 
        <p> {{ project.project }} </p>
        <h6> Project Client:</h6> 
        <p> {{ project.client }} </p>
    </div>
{% endblock  %}