{% extends 'base.html' %}

{% block content %}
<table class="table table-hover table-center">
    <thead>
      <tr>
          <th>Project</th>
          <th scope="col">Client</th>
          <th scope="col">Location</th>
          <th scope="col">Describtion</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for pr in projects %}
      <tr>
          <td>
            <a href=" {% url 'Projects:projectdetail' pr.slug %}">{{pr.project}}</a>
          </td>
          <td>{{pr.client}}</td>
          <td>{{pr.project_location_name}}</td>
          <td>{{pr.project_description}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}