{% extends 'base.html' %}
{% block content %} 
    <div class="container">
        <div class="container-md text-center">
            <h2> Project Detail Page </h2>
        </div>
        <br>
        <p>
            Amanj knows the geometry of --*- {{project.project}} --** project is ****{{project.geometry_nodes}}****
        </p> 
    </div>
    <br>
    <div class="container-fluid">
        <h6> Project Name:</h6> 
        <p> {{ project.project }} </p>
        <h6> Project Client:</h6> 
        <p> {{ project.client }} </p>
    </div>
    <br>
    <div class="container-fluid p-3 mb-2 bg-secondary text-white">
        <h6> Divisions Name:</h6> 
        {% for div in division %}
            {% if div %}
                <a href=" {% url 'projects:divisiondetail' div.slug %}" class="text-white">
                    {{ div.division }} <br>
                </a>
            {% else %}
                <p> NO DIVISION </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}