{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Test</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container-fluid">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ali</a>
          <a class="dropdown-item" href="#">Cheer</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">se</a>
        </div>
      </li>
      
    </div>
    <div class="container">

    </div>
    
    
    
    
    
    
    
    
    <h1>Testy Template </h1>
    <h2>Testy Template </h2>
    <h3>Testy Template </h3>
    <h4>Testy Template </h4>
    <h5>Testy Template </h5>
    <h6>Testy Template </h6>
    <p>Testy Template </p>
  
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
